@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

header {
  width: 100vw;
  height: 3rem;

  position: fixed;
  top: 0;
  left: 0;

  padding-top: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

header .logo {
  width: 20%;
  height: 100%;

  margin-left: 1rem;
  margin-right: auto;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;

  text-decoration: none;
  transition: 0.4s;
}

header .logo:hover {
  transform: scale(102%);
  transition: 0.4s;
}

header .logo span {
  font-family: "Lobster", sans-serif;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 0 4px #6e046c;
}

header .menu {

  background: linear-gradient(to bottom right, #ff5900, #ff9900);

  width: 50%;
  height: 100%;

  box-shadow: 0 0 10px 4px #0002;

  border-radius: 0.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header .menu nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

header .menu nav a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  transition: 0.4s;
}

header .menu nav a:hover {
  font-size: 1.14rem;
}

header .account {
  width: 20%;
  height: 100%;

  margin-left: auto;
  margin-right: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

header .account a {
  width: 180px;
  height: 80%;

  border: none;
  border-radius: 0.8rem;

  box-shadow: 0 0 10px 4px #0002;

  font-family: "Muli", sans-serif;
  font-size: 1.1rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-decoration: none;

  margin-left: auto;
}

header .account .login {
  background: linear-gradient(to bottom right, #b700ff, #8c00ff);
  transition: 0.4s;
}

header .account .login:hover {
  background: linear-gradient(to bottom right, #c645f8, #b55cfd);
  transition: 0.4s;
}

header .account .login:active {
  background: linear-gradient(to bottom right, #d984fa, #c183f5);
  transition: 0.4s;
}

