<header>
  <a class="logo" href="/">
    <span>La Casa del Libro</span>
  </a>
  <div class="menu">
    <nav>
      <a [routerLink]="">Home</a>
      <a href="/biblioteca">Biblioteca</a>
      <a href="/servizi">Servizi</a>
      <a href="/contatti">Contatti</a>
      <div class="spacer"></div>
      <span *ngIf="isLoggedIn">Ciao, {{username}} </span>
      <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
      <button *ngIf="!isLoggedIn" (click)="toggleLoginVisibility()">Login</button>
    </nav>
  </div>

  <div id="login-container" *ngIf="loginIsVisible">
    <button (click)="toggleLoginVisibility()">
      <fa-icon [icon]="faClose"></fa-icon>
    </button>
    <app-login></app-login>
  </div>

</header>
