@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --light-primary: #FFCF9C;
  --light-secondary: #B96D40;
  --dark-primary: #CA054D;
  --dark-secondary: #3B1C32;
  --details: #A4D4B4;
}

* {
  font-family: "Muli", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

#background {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  background: linear-gradient(to bottom, #a136e1, #8d41b9, #522073);

  z-index: -999;
}

.container {
  padding-top: 3.5rem;
}
