<div class="wrapper">
  <h3 class="title">Login</h3>
  <div class="content">
    <form>
      <div class="form-field">
        <label>Username</label>
        <input name="username" placeholder="Username...">
      </div>
      <div class="form-field">
        <label>Password</label>
        <input name="password" placeholder="Password...">
      </div>
      <div class="form-actions">
        <input type="submit" value="Accedi">
      </div>
      <div class="form-extra">
        <div>
          <input type="checkbox" name="ricordami">
          <label>Ricordami</label>
        </div>
        <a routerLink="passwordDimenticata">Password dimenticata?</a>
      </div>
    </form>
    <div class="divider">
      <span>oppure</span>
    </div>
    <br>
    <a routerLink="register">Registrati</a>
  </div>
</div>

