<footer>
  <div class="social-icons">
    <a href="http://github.com/angelobdev" target="_blank">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
    <a href="http://linkedin.com/in/angelobdev" target="_blank">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </a>
    <a href="http://twitter.com/angelobdev" target="_blank">
      <fa-icon [icon]="faTwitter"></fa-icon>
    </a>
  </div>
  <div class="credits">
    <span>Powered by <a href="https://github.com/angelobdev">angelobdev</a></span>
  </div>
</footer>
