<div class="azienda">

    <div class="area">
        <div class="image">
            <img alt="1"
                 src="https://fai-platform.imgix.net/media/convenzioni/veneto/vr/biblioteca-capitolare-di-verona_178796.jpg">
        </div>
        <div class="text">
            <h1>La nostra azienda</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus iaculis euismod. Mauris urna sem,
                faucibus ut risus quis, interdum lacinia elit. Etiam tincidunt urna tristique orci laoreet sagittis.
                Donec sapien odio, imperdiet vitae pellentesque a, mattis ornare est. Curabitur sollicitudin felis
                fringilla rhoncus dignissim. Donec in dapibus nunc. Fusce fringilla felis egestas sem vulputate feugiat.
                Nam quis eleifend dolor. Pellentesque tempor turpis in ligula laoreet egestas at sit amet mi. Integer
                pretium nec urna id laoreet.

                Pellentesque nisl augue, imperdiet a tellus ut, sodales efficitur justo. Integer efficitur urna id
                dignissim efficitur. Mauris accumsan ante ac eros fringilla, id aliquet sem molestie. Ut tempus luctus
                ligula ut viverra. Praesent mi metus, viverra non ultricies quis, bibendum eget sem. Etiam nec laoreet
                diam. Suspendisse elementum at odio id pharetra. Pellentesque ut vulputate magna. Pellentesque vitae
                ullamcorper lacus, id tempus tortor. Aliquam et justo non est pulvinar pretium. Praesent massa turpis,
                ultricies sit amet quam in, semper sagittis velit. Nunc luctus vitae libero aliquet lobortis. Quisque
                varius consequat augue eget tincidunt. Donec ac sapien eleifend, sodales purus vel, interdum tellus.
                Nulla facilisi. Donec tincidunt nunc at velit vehicula mollis.</p>
        </div>
    </div>

    <div class="area">
        <div class="text">
            <h1>Chi siamo</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus iaculis euismod. Mauris urna sem,
                faucibus ut risus quis, interdum lacinia elit. Etiam tincidunt urna tristique orci laoreet sagittis.
                Donec sapien odio, imperdiet vitae pellentesque a, mattis ornare est. Curabitur sollicitudin felis
                fringilla rhoncus dignissim. Donec in dapibus nunc. Fusce fringilla felis egestas sem vulputate feugiat.
                Nam quis eleifend dolor. Pellentesque tempor turpis in ligula laoreet egestas at sit amet mi. Integer
                pretium nec urna id laoreet.

                Pellentesque nisl augue, imperdiet a tellus ut, sodales efficitur justo. Integer efficitur urna id
                dignissim efficitur. Mauris accumsan ante ac eros fringilla, id aliquet sem molestie. Ut tempus luctus
                ligula ut viverra. Praesent mi metus, viverra non ultricies quis, bibendum eget sem. Etiam nec laoreet
                diam. Suspendisse elementum at odio id pharetra. Pellentesque ut vulputate magna. Pellentesque vitae
                ullamcorper lacus, id tempus tortor. Aliquam et justo non est pulvinar pretium. Praesent massa turpis,
                ultricies sit amet quam in, semper sagittis velit. Nunc luctus vitae libero aliquet lobortis. Quisque
                varius consequat augue eget tincidunt. Donec ac sapien eleifend, sodales purus vel, interdum tellus.
                Nulla facilisi. Donec tincidunt nunc at velit vehicula mollis.</p>
        </div>
        <div class="image">
            <img alt="2" src="https://www.comunepietraligure.it/images/2020/01/23/biblioteca1_large.jpg">
        </div>
    </div>

    <div class="area">
        <div class="image">
            <img alt="3"
                 src="https://www.regione.taa.it/var/opencitytaa/storage/images/media/images/biblioteca/1896979-3-ita-IT/Biblioteca_reference.jpg">
        </div>
        <div class="text">
            <h1>Come contattarci</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus iaculis euismod. Mauris urna sem,
                faucibus ut risus quis, interdum lacinia elit. Etiam tincidunt urna tristique orci laoreet sagittis.
                Donec sapien odio, imperdiet vitae pellentesque a, mattis ornare est. Curabitur sollicitudin felis
                fringilla rhoncus dignissim. Donec in dapibus nunc. Fusce fringilla felis egestas sem vulputate feugiat.
                Nam quis eleifend dolor. Pellentesque tempor turpis in ligula laoreet egestas at sit amet mi. Integer
                pretium nec urna id laoreet.

                Pellentesque nisl augue, imperdiet a tellus ut, sodales efficitur justo. Integer efficitur urna id
                dignissim efficitur. Mauris accumsan ante ac eros fringilla, id aliquet sem molestie. Ut tempus luctus
                ligula ut viverra. Praesent mi metus, viverra non ultricies quis, bibendum eget sem. Etiam nec laoreet
                diam. Suspendisse elementum at odio id pharetra. Pellentesque ut vulputate magna. Pellentesque vitae
                ullamcorper lacus, id tempus tortor. Aliquam et justo non est pulvinar pretium. Praesent massa turpis,
                ultricies sit amet quam in, semper sagittis velit. Nunc luctus vitae libero aliquet lobortis. Quisque
                varius consequat augue eget tincidunt. Donec ac sapien eleifend, sodales purus vel, interdum tellus.
                Nulla facilisi. Donec tincidunt nunc at velit vehicula mollis.</p>
        </div>
    </div>

</div>
